@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: rgb(6, 5, 8);
    font-family: "Roboto";
    padding: 0px;
    margin: 0px;
}

.top-container {
    background-color: rgb(13, 10, 24);
    color: antiquewhite;
    font-size: 3em;
    height: 2em;
    font-weight: bolder;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    position: fixed;
    top: 3em;
    bottom: 1.5em;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    align-items: center;
}


.card-container {
    aspect-ratio: 2 / 3;
    border-radius: 0.5cm;
    height: 85%;
    max-width: 90%;
    background-color: rgb(107, 99, 134);vertical-align: middle;
}

.card-header {
    background-color: rgb(40, 31, 73);
    border-top-left-radius: 0.5cm;
    border-top-right-radius: 0.5cm;
    color: antiquewhite;
    font-size: 3em;
    font-weight: bolder;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main {
    height: 65%;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.card-main img {
    height: 100%;
    border-radius: 0.5cm;
}

.card-footer {
    background-color: rgb(40, 31, 73);
    height: 25%;
    padding: 5%;
    color: antiquewhite;
    border-bottom-left-radius: 0.5cm;
    border-bottom-right-radius: 0.5cm;
    box-sizing: border-box;
    overflow-y: auto;
}

.download-button {
    background-color: rgba(98, 163, 13, 0.63);
    border-radius: 0.5cm;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.download-button img {
    width: 1em;
    height: 1em;
}

.download-button a {
    width: 100%;
    color: antiquewhite;
    text-decoration: none;
}


.bottom-container {
    background-color: rgb(13, 10, 24);
    width: 100%;
    color: rgb(175, 175, 175);
    position: fixed;
    bottom: 0px;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-container img {
    width: 1.5em;
    height: 1.5em;
}

.bottom-container a {
    color: rgb(175, 175, 175);
    text-decoration: none;
}